.login-form-bttn-group{
    margin-right: 0px;
}

.sign-up-bttn{
    margin-right: 5px;
}

.score{
    background-color: #F8F8F8;
    height: 100%;
    margin-bottom: 5px;
    padding-top:20px;
    padding-bottom:20px;

    border-top: solid;
    border-width: 1px;
    border-color: #555555;
}

.table_header{
    width: inherit;
    z-index: 1;

    border-bottom: solid;
    border-width: 1px;
    border-color: #555555;
    background-color: #E0E0E0;
    height: 50px;
    padding-top: 15px;
}

.fixed_header{
    position:fixed;
    top:0px;
}

.table_header_row{

}

.travel_list_container{
    margin-top:0px;
    z-index: 2;
}

.description_text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: none;
    color:black;
}

.top_controls_container{
    margin-bottom: 20px;
}