<div>
    Greetings from My Trip Planner!
</div>

<div>
    You have received this email because someone requested password reset for your account.
</div>


<div>
    To reset your password click <a href="{{ link }}">here</a> and we'll send you a new password in minutes.
</div>

<div>
    If you didn't make request to reset your password at My Trip Planner just ignore and delete this message.
</div>