<div>
    <div class="container content_container">
        <div class="list_header_container">
            <span class="list_header_text">My <span style="color: #d61717;">Trip</span> Planner</span>
            <div class="pull-right">Hello, {{ username }}<br/>Not you? <a href="#" ng-click="logout()">Sign Out</a></div>
        </div>
        <div style="clear: both"></div>
        <div class="top_buttons_container">
            <button class="btn top_button add_trip_btn" ng-click="addNewTrip(myform2)">Plan a New Trip</button>
            <button class="btn top_button travel_plan_btn" ng-click="openModal()">Print My Travel Plan<br/><span class="travel_plan_btn_secondary_text">(for {{today_month}} {{today_year}})</span></button>
        </div>
        <div class="top_controls_container">
            <div class="pull-left top_controls_text">My Trips</div>
            <div class="pull-right">
                <input class="form-control" type="text" placeholder="Search" ng-model="searchStr" ng-change="search()" />
                <a href="#" class="pull-right top_controls_filters" ng-click="showFilters = ! showFilters">[+] Filters</a>
            </div>
        </div>

        <div class="filters" ng-show="showFilters">
            <div class="row pull-right">
                <div class="filter_row filter_row_checkbox">
                    <input type="checkbox" ng-model="filters.date_filter_check" ng-change="applyFilters()" />
                </div>
                <div class="filter_row filter_row_text">Date</div>
                <div class="filter_row filter_row_select">
                    <select class="form-control" ng-model="filters.date_filter_cond" ng-change="applyFilters()">
                        <option selected value="=">is</option>
                        <option value=">">later</option>
                        <option value="<">earlier</option>
                    </select>
                </div>
                <div class="filter_row filter_row_date">
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="filter_date" is-open="filter_date_popup.opened" datepicker-options="dateOptions" ng-required="true" ng-change="applyFilters()"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="filter_date_popup_open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="row pull-right">
                <div class="filter_row filter_row_checkbox">
                    <input type="checkbox" ng-model="filters.start_dt_filter_check" ng-change="applyFilters()" />
                </div>
                <div class="filter_row filter_row_text">Start Date</div>
                <div class="filter_row filter_row_select">
                    <select class="form-control" ng-model="filters.start_dt_filter_cond" ng-change="applyFilters()">
                        <option selected value="=">is</option>
                        <option value=">">later</option>
                        <option value="<">earlier</option>
                    </select>
                </div>
                <div class="filter_row filter_row_date">
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="filter_start_dt" is-open="filter_start_dt_popup.opened" datepicker-options="dateOptions" ng-required="true" ng-change="applyFilters()"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="filter_start_dt_popup_open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="row pull-right">
                <div class="filter_row filter_row_checkbox">
                    <input type="checkbox" ng-model="filters.end_dt_filter_check" ng-change="applyFilters()" />
                </div>
                <div class="filter_row filter_row_text">End Date</div>
                <div class="filter_row filter_row_select">
                    <select class="form-control" ng-model="filters.end_dt_filter_cond" ng-change="applyFilters()">
                        <option selected value="=">is</option>
                        <option value=">">later</option>
                        <option value="<">earlier</option>
                    </select>
                </div>
                <div class="filter_row filter_row_date">
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="filter_end_dt" is-open="filter_end_dt_popup.opened" datepicker-options="dateOptions" ng-required="true" ng-change="applyFilters()"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="filter_end_dt_popup_open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="table_header row" ng-show="travel_list.items">
            <div class="table_header_row col-md-1" sort order="'diff'" by="order" reverse="reverse" update-method="sortList">Count</div>
            <div class="table_header_row col-md-3" sort order="'start_dt_obj'" by="order" reverse="reverse" update-method="sortList">Start Date</div>
            <div class="table_header_row col-md-3" sort order="'end_dt_obj'" by="order" reverse="reverse" update-method="sortList">End Date</div>
            <div class="table_header_row col-md-2" sort order="'destination'" by="order" reverse="reverse" update-method="sortList">Destination</div>
            <div class="table_header_row col-md-3">Notes</div>
        </div>

        <div class="travel_list_container" infinite-scroll='nextPage()' infinite-scroll-disabled='travel_list.busy' infinite-scroll-distance='0' infinite-scroll-immediate-check="false">
            <div class="row score" ng-show="inserted">
                <div class="col-md-1">-</div>
                <div class="col-md-3">
                    <!--<div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="inserted.start_dt" is-open="new_start_dt_popup.opened" datepicker-options="dateOptions" ng-required="true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="new_start_dt_popup_open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>-->
                    <div buttons="no" e-name="start_dt" editable-bsdate="inserted.start_dt" e-form="myform2" onbeforesave="checkStartDate(myform2.$data)" e-is-open="opened1.$data" e-ng-click="open1($event,'$data')" e-datepicker-popup="dd MMMM yyyy">
                    </div>
                </div>
                <div class="col-md-3">
                    <!--<div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="inserted.end_dt" is-open="new_end_dt_popup.opened" datepicker-options="dateOptions" ng-required="true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="new_end_dt_popup_open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>-->
                    <div buttons="no" e-name="end_dt" editable-bsdate="inserted.end_dt" e-form="myform2" onbeforesave="checkEndDate(myform2.$data)" e-is-open="opened2.$data" e-ng-click="open2($event,'$data')" e-datepicker-popup="dd MMMM yyyy">
                    </div>
                </div>
                <div class="col-md-2">
                    <!--<input type="text" buttons="no" e-form="myform2" ng-model="inserted.destination" onbeforesave="checkDestination($data)" e-name="destination" class="form-control" e-maxlength="64" />-->
                    <div class="description_text" editable-text="inserted.destination" e-form="myform2" onbeforesave="checkDestination(myform2.$data)" e-name="destination" e-maxlength="64"></div>
                </div>
                <div class="col-md-8 col-md-offset-4 add_new_trip_textarea">
                    <!--<textarea ng-model="inserted.description" class="form-control" maxlength="4096" e-rows="7"></textarea>-->
                    <div class="description_text" editable-textarea="inserted.description" e-form="myform2" e-maxlength="4096" e-name="description" e-rows="7" e-cols="120">
                        {{item.description}}
                    </div>
                </div>
                <form editable-form name="myform2" ng-show="myform2.$visible" class="form_buttons form-buttons form-inline pull-right" onbeforesave="save($data, item, key)" >
                        <div class="btn cancel_btn" ng-click="cancel($event)">Cancel</div>
                        <button type="submit" class="btn save_btn" ng-disable="myform2.$waiting">Save</button>
                </form>
            </div>
            <div class="score row" ng-class-odd="'odd_row'" ng-class-even="'even_row'" ng-repeat='(key, item) in travel_list.items | orderBy:order:reverse' ng-click="expand(item, myform)">
                <div class="col-md-1">
                    <div>
                        {{ item.diff_str }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div buttons="no" e-name="start_dt" editable-bsdate="item.start_dt_obj" e-form="myform" onbeforesave="checkStartDate(myform.$data)" e-is-open="opened1.$data" e-ng-click="open1($event,'$data')" e-datepicker-popup="dd MMMM yyyy">
                        {{ (item.start_dt_obj | date:"dd MMMM yyyy") }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div buttons="no" e-name="end_dt" editable-bsdate="item.end_dt_obj" e-form="myform"  onbeforesave="checkEndDate(myform.$data)" e-is-open="opened2.$data" e-ng-click="open2($event,'$data')" e-datepicker-popup="dd MMMM yyyy">
                        {{ (item.end_dt_obj | date:"dd MMMM yyyy") }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="description_text" editable-text="item.destination" e-form="myform" onbeforesave="checkDestination(myform.$data)" e-name="destination" e-maxlength="64">
                        {{item.destination}}
                    </div>
                </div>
                <div class="col-md-3" ng-show="!myform.$visible">
                    <div class="description_text" buttons="no" e-form="notexistedform" editable-textarea="item.description" e-name="description" e-rows="7" e-cols="40">
                        {{item.description}}
                    </div>
                </div>
                <div style="clear: both "></div>
                <div class="col-md-8 col-md-offset-4" ng-show="myform.$visible">
                    <div class="description_text" editable-textarea="item.description" e-form="myform" e-maxlength="4096" e-name="description" e-rows="7" e-cols="120">
                        {{item.description}}
                    </div>
                </div>
                <div style="clear: both "></div>
                <form editable-form name="myform" ng-show="myform.$visible" class="form_buttons form-buttons form-inline pull-right" onbeforesave="save($data, item, key)" >
                    <div class="btn remove_btn" ng-click="remove(item)">Remove</div>
                    <div class="btn cancel_btn" ng-click="cancel($event)">Cancel</div>
                    <button class="btn save_btn" type="submit" ng-disable="myform.$waiting">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>