<div class="container">
    <div class="login_header_text">
        My <span style="color: #d61717;">Trip</span> Planner
    </div>
    <div class="mainbox col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default login-panel" >
            <div class="panel-heading">
                <div class="panel-title text-center"><b>Login</b></div>
            </div>

            <div class="panel-body" >

                <form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST" novalidate>

                    <div class="alert alert-danger" ng-show="error_message">{{error_message}}</div>

                    <div class="alert alert-danger" ng-show="form.$submitted && !form.$valid">
                        <div ng-show="form.user.$error.required">User filed is required.</div>
                        <div ng-show="form.password.$error.required">Password filed is required.</div>
                    </div>

                    <div class="input-group login_form_input_group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="user" type="text" class="form-control" name="user" ng-model="credentials.username" value="" placeholder="User" required="">
                    </div>

                    <div class="input-group login_form_input_group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="password" ng-model="credentials.password" placeholder="Password" required="">
                    </div>

                    <div class="login-form-bttn-group">
                        <button type="submit" href="#" class="btn btn-primary pull-right log-in-bttn" ng-click="submit(credentials)"><i class="glyphicon glyphicon-log-in"></i> Log In</button>
                        <div class="login_form_forgot_password"><a href="#" ng-click="goToForgotPwd(credentials)">Forgot password</a></div>
                    </div>

                </form>

            </div>
        </div>
        <div class="login_form_footer">
            <div>New to My trip Planner?</div>
            <div>Sign up now for free!</div>
            <button type="submit" ui-sref="signup" class="btn btn-success sign-up-bttn">Sign Up</button>
        </div>
    </div>
</div>