<div class="container">
    <div class="login_header_text">
        My <span style="color: #d61717;">Trip</span> Planner
    </div>
    <div class="mainbox col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default login-panel" >
            <div class="panel-heading">
                <div class="panel-title text-center"><b>Password Recovery</b></div>
            </div>

            <div class="panel-body" >

                <div class="alert alert-danger" ng-show="error_messages" ng-repeat="error_message in error_messages">{{error_message}}</div>
                <div class="alert alert-success" ng-show="success_message">{{success_message}}</div>
                <div class="alert alert-danger" ng-show="form.$submitted && !form.$valid">
                    <div ng-show="form.user.$error.required">User filed is required.</div>
                    <div ng-show="form.email.$error.required">Email filed is required.</div>
                    <div ng-show="form.email.$error.email">This is not a valid email.</div>
                    <div ng-show="form.password.$error.required">Password filed is required.</div>
                </div>

                <form name="form" class="form-horizontal" enctype="multipart/form-data" method="POST" novalidate>

                    <div class="input-group login_form_input_group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="email" class="form-control" ng-model="credentials.email" name="email" value="" placeholder="Email" required="" />
                    </div>

                    <div class="login-form-bttn-group">
                        <button type="submit" href="#" class="btn btn-primary pull-right" ng-click="submit(credentials)" ng-disabled="busy">Send Password</button>
                        <!--<button type="submit" ui-sref="login" class="btn btn-danger pull-right log-in-bttn">Cancel</button>-->
                    </div>
                </form>

            </div>
        </div>
        <div class="login_form_footer">
            <!--<div>Already have account?</div>-->
            <a href="#" ng-click="goToLogin()">Log in</a>
        </div>
    </div>
</div>