<div class="container">
    <div class="mainbox col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">Travel app</div>
            </div>

            <div class="panel-body" >

                <form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="user" type="text" class="form-control" name="user" value="" placeholder="User">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input id="email" type="text" class="form-control" name="email" value="" placeholder="Email">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="confirm_password" type="password" class="form-control" name="confirm_password" placeholder="Confirm password">
                    </div>

                    <div class="login-form-bttn-group">
                        <button type="submit" href="#" class="btn btn-primary pull-right sign-up-bttn">Sign Up</button>
                        <button type="submit" ui-sref="login" class="btn btn-danger pull-right log-in-bttn">Cancel</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>